.main-sect h3{text-align: center !important;}
.main-sect h3 span{margin-top: 7px; margin-bottom: 5px; display: block;}
.main-sect .panel-body{border:1px solid gray; margin-top: 7px;}
.main-sect .btn{background:#C07029; text-decoration: none;}
